@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 93%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 220 75% 3%;
    --foreground: 213 31% 91%;

    --muted: 216 34% 3%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --card: 224 71% 4%;
    --card-foreground: 213 31% 91%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }

  /* Set the width and height of the scroll bar */
  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  /* Set the background color of the scroll bar track */
  ::-webkit-scrollbar-track {
    @apply bg-transparent;
  }

  /* Set the color and shape of the scroll bar thumb */
  ::-webkit-scrollbar-thumb {
    @apply bg-muted rounded-sm;
  }
}

@layer components {
  .active-nav-link {
    @apply border-b-2 border-accent-foreground text-accent-foreground;
  }

  /* ------------------------------------------------ UI */
  /* --------------- Card */
  .card {
    @apply rounded-lg border bg-card text-card-foreground shadow-sm;
  }
  .card-header {
    @apply flex flex-col space-y-1.5 px-6;
  }
  .card-title {
    @apply text-lg p-6 pb-0 font-semibold leading-none tracking-tight;
  }
  .card-description {
    @apply text-sm text-muted-foreground;
  }
  .card-content {
    @apply p-6;
  }
  .card-footer {
    @apply flex items-center px-6;
  }

  /* --------------- Form */
  input {
    @apply flex h-10 w-full rounded-md border border-input bg-transparent px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50;
  }
  textarea {
    @apply flex h-20 w-full rounded-md border border-input bg-transparent px-3 py-2 text-sm ring-offset-background placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50;
  }

  /* Button */
  button {
    @apply h-10 py-2 px-4 inline-flex items-center justify-center rounded-md text-sm font-medium transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:opacity-50 disabled:pointer-events-none ring-offset-background;
  }
  .button-primary {
    @apply bg-primary text-primary-foreground hover:bg-primary/90;
  }
  .button-secondary {
    @apply bg-secondary text-secondary-foreground hover:bg-secondary/80;
  }
  .button-destructive {
    @apply bg-destructive text-destructive-foreground hover:bg-destructive/90;
  }
  .button-outline {
    @apply border border-input hover:bg-accent hover:text-accent-foreground;
  }
  .button-ghost {
    @apply hover:bg-accent hover:text-accent-foreground;
  }
  .button-link {
    @apply underline-offset-4 hover:underline text-primary;
  }
}
